.details{
    border: 5px black;
    border-radius: 15px;
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.details1{
    border: 5px burlywood;
    border-radius: 20px;
    background-color: cornsilk;

}
input{
    border-radius: 10px;
    width: 500px;
    height: 28px;
}
.details2{
    border: 5px black;
    border-radius: 15px;
    background-color: gainsboro;
    padding: 30px;
}